*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	outline: none;
	text-decoration: none;
}
@font-face {
    font-family: arial_geo;
    src: url(../fonts/arial_geo.ttf);
}
@font-face {
    font-family: nino_mtavruli;
    src: url(../fonts/bpg_nino_mtavruli_normal.ttf);
}
.clear{
	clear: both;
}
.container{
	max-width: 1300px;
	width: 100%;
}
header{
	width: 100%;
	position: fixed;
	z-index: 1000;
	background: rgba(255,255,255,0.8);
	top: 0;
	left: 0;
	transition: 0.6s;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
header.down{
	top: -100%;
	transition: 1s;
}
.logo{
	width: 80px;
	/*background-color: white; */
	padding: 20px 0;
}
.logooo{
	display: inline-block;
	text-align: center;
	width: 52px;
	height: 40px;
}
.menu{
	width: 500px;
	/*background-color: white;*/
	padding: 2.5px 20px;
	display: flex;
	justify-content: space-between;
}
.menu ul{
	list-style-type: none;
	display: inline-block;
}
.menu ul li{
	display: flex;
	justify-content: space-between;
	font-family: nino_mtavruli;
	font-size: 18px;
}
.menu ul li a{
	text-decoration: none;
	padding: 27px 0 13px;
	color: black;
}
.menu ul li a:hover{
	color: #2C938C;
	border-bottom: 3px solid #2C938C;
	padding: 27px 0 10px;
	transition: 0.3s;
}
.search{
	width: calc(54% - 140px);
	background-color: transparent;
	padding: 15px 0;
	text-align: right;
	border: none;
}
.search img{
	width: 50px;
}
.cover .carousel-image{
	box-sizing: content-box;
	padding-top: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center center;
	position: relative;
	z-index: 1;
	background-repeat: no-repeat;
}
.cover .owl-prev{
	width: 100px;
	height: 100px;
	position: absolute;
	z-index: 100;
	transform: rotate(180deg);
	left: 0px;
	top: 50%;
}
.owl-prev img{
	width: 50%!important;
	background: transparent;
}
.cover .owl-next{
	width: 100px;
	height: 100px;
	position: absolute;
	z-index: 100;
	top: 50%;
	right: 0px;
}
.owl-next img:hover{
	width: 50%!important;
	background: transparent;
}
.owl-theme .owl-nav .disabled{
	opacity: 0;
}
.owl-theme .owl-prev img,
.owl-theme .owl-next img{
	width: 50px;
}
.text{
	position: absolute;
	top: 35%;
	display: block;
	z-index: 100;
	width: 100%;
}
.text p{
	width: 100%;
	text-align: center;
	font-size: 48px;
	font-family: nino_mtavruli;
	color: white;
}
.button {
	position: absolute;
	z-index: 100;
	top: 65%;
	width: 100%;
}
.button button{
	text-align: center;
	letter-spacing: 1px;
    background-color: #2C938C;
    border: none;
    color: white;
    padding: 18px 30px 9px;
    font-size: 22px;
    font-family: nino_mtavruli;
    cursor: pointer;
}
.button button:hover {
    background-color: #1F726A;
}
.about-us-section{
	padding-top: 80px;
	padding-bottom: 80px;
}
.about-us{
	box-shadow: 0 0 1px rgba(0,0,0,0.2);
	padding: 6px;
	background-color: #f2f2f2;
	position: relative;
	z-index: 1;
}
.about-us-text h1{
	font-size: 42;
	text-align: center;
	padding-top: 45px;
	font-family: nino_mtavruli;
}
.about-us-text p{
	text-align: center;
	padding: 30px 30px 50px 30px;
	font-size: 20px;
	font-family: arial_geo;
	color: rgba(0,0,0,0.6);
}
.clip{
	position: absolute;
	width: 25px;
	z-index: 10;
	top: -9px;
	left: 80%;
}
.articles{
	padding: 0 0 80px;
}
.statements p{
	font-family: nino_mtavruli;
	font-size: 32px;
	font-weight: 100;
	padding-left: 8px;
	position: relative;
	display: inline-block;
}
.statements p::after{
	content: '';
	position: absolute;
	width: 100px;
	height: 2px;
	background: #2C938C;
	bottom: 5px;
	left: 10px;
	transition: 0.2s;
}
.each-block{
	padding: 30px;
	margin: 10px ;
	/*border: 2px solid gray;*/
	box-shadow: 0 0 1px rgba(0,0,0,0.2);
	background: #F5F5F5;
	display: block;
	transition: 0.2s;
}
.each-block:hover{
	transform: scale(1.02,1.02);
}
.each-block img{
	width: 100px;
	clip-path: circle(38%);
}
.each-block p{
	font-size: 14px;
	font-family: nino_mtavruli;
	color: rgba(0,0,0,0.8);
}
.each-block span{
	color: rgba(0,0,0,0.5);
}
.each-block:hover{
	text-decoration: none;
}
.each-block:hover p{
	font-weight: bold;
}
footer{
	background-color: #262626; 
	padding: 20px 0 10px;
}
.copyright{
	color: white;
	font-family: arial_geo;
	font-size: 16px;
}
.copyright img{
	width: 30px;
}
.social-network img{
	width: 26px;
	color: white;
}
.each-block-title{
	display: block;
	color: rgba(0,0,0,0.8);
}
.each-block-title:hover{
	color: rgba(0,0,0,0.8);
	font-weight: bold;
	text-decoration: none;
}
.about-arrow{
	display: inline-block;
	padding-right: 50px;
	transition: 0.2s;
	margin-bottom: 20px;
}
.about-arrow:hover{
	padding-right: 30px;
	padding-left: 20px;
}
.about-arrow img{
	width: 40px;
}
.owl-carousel{
	height: 100vh;
}
.enter{
	padding: 15px 20px 8px;
	font-family: nino_mtavruli;
	font-size: 16px;
	display: inline-block;
	border: 2px solid #2C938C;
	margin-top: 16px;
	color: black;
}
.enter:hover{
	text-decoration: none;
	font-weight: bold;
	color: black;
}
.search-content{
	position: fixed;
	top: -100px;
	width: 100%;
	z-index: 1001;
	background: rgba(0,0,0,0.7);
	height: 81px;
	transition: 0.5s;
}
.search-content.active{
	top: 0;
}
.search-content input{
	width: calc(100% - 200px);
	color: white;
	background: transparent;
	border: none;
	margin-top: 13px;
	font-size: 16px;
	padding: 10px 0;
	border-bottom: 1px solid white;
}
.search-content input::placeholder{
	color: white;
	font-size: 16px;
}
.search-content .submit{
	background: url(../img/search-white.svg) no-repeat center center;
	background-size: 32px;
	border: none;
	width: 80px;
	margin-top: 20px;
	height: 40px;
}
.search-content .close-btn{
	background: url(../img/close.svg) no-repeat center center;
	background-size: 30px;
	border: none;
	width: 50px;
	margin-top: 20px;
	height: 40px;
}
.owl-carousel .item{
	position: relative;
}
.owl-carousel .item::after{
	position: absolute;
	content: '';
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1;
}